body {
  background-color: #fcfffa;
}

#loginCard {
  /* background-color: pink; */
  height: 100vh;
  margin-top: 165px;
}

.actions {
  font-weight: bold;
  font-size: 40px;
  border-bottom: solid 3px #d9d9d9;
  color: #d9d9d9;
  cursor: pointer;
}

.link {
  text-decoration: none !important;
}

.actions-selected {
  border-bottom: solid 3px #b9e497;
  color: #b9e497;
}

.input-field {
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 45px;
  background: rgba(185, 228, 151, 0);
  opacity: 0.7;
  border: none;
  border-radius: 25px;
  /* box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25); */
  cursor: pointer;
}

.input-field:focus {
  outline: none;
}

.input-field-container {
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 45px;
  background: rgba(185, 228, 151, 0.5);
  opacity: 0.7;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.login-button {
  border: none;
  background-color: #b9e497;
  border-radius: 25px;
  width: 30%;
  height: 45px;
  cursor: pointer;
  color: rgb(119, 118, 118);
}

.login-button:hover {
  background-color: #abd18e;
}

.back-to-home-button {
  background-color: #b9e497;
  border: none;
  border-radius: 16px;
}

.back-to-home-button:hover {
  background-color: #abd18e;
}

#login-img {
  height: 800px;
  width: 500px;
}
