.item-button {
  border: none;
  border-radius: 50%;
}

.item-card-image {
  height: 100px;
  object-fit: contain;
}

.card {
  border: solid 1px;
  border-radius: 25px;
  border-color: #e1efeb;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgba(184, 228, 151, 0.5);
}

.card-selected {
  background-color: rgba(184, 228, 151, 0.5);
  transform: scale(1.1);
}
