.navbar-container {
  background-color: #e6efeb;
  height: 100px;
}

#search-bar {
  height: 55px;
  width: 50%;
  border: none;
  border-radius: 50px 0px 0px 50px;
}

#search-button {
  border: none;
  width: 15%;
  border-radius: 0px 50px 50px 0px;
  background-color: #444b3b;
  text-align: center;
  color: white;
}

#input-group-dropdown-2 {
  background-color: black;
  width: 133px;
  height: 55px;
  border: none;
  border-radius: 50px;
  text-align: center;
  color: white;
  cursor: pointer;
}

#cart-button {
  background-color: #c8e1a6;
  height: 55px !important;
  width: 77px !important;
  border: none;
  border-radius: 50px;
  color: black;
  cursor: pointer;
}

#navigation {
  height: 55px;
  border-radius: 50px;
  background-color: #c8e1a6;
  box-shadow: 0px 5px 5px 0px rgba(121, 121, 121, 0.75);
}

#cart-button {
  height: 40px;
  width: 100%;
  position: fixed;
  box-shadow: 0px 5px 5px 0px rgba(121, 121, 121, 0.75);
}

.link {
  color: #7b7b7b;
}

.selected {
  color: black;
  font-size: larger;
}

.cart-modal-button {
  background-color: #b9e497;
  border: none;
  color: black;
  border-radius: 16px;
}

.cart-modal-button:hover {
  background-color: #abd18e;
  color: rgb(68, 66, 66);
}

#logo-img {
  height: 55px;
  width: 55px;
}

#logo-title {
  color: #444b3b;
  text-decoration: none !important;
}

#logo-title:hover {
  text-decoration: none !important;
}

.logo-link {
  text-decoration: none !important;
  cursor: pointer;
}
/* .item-type {
  border-right: solid 2px !important;
  border-color: #7b7b7b !important;
} */

.store-container {
  background-color: #678054;
}
